<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登入界面</title>
</head>
<body>
    <form action="/login/" method="post">
        <!-- action==>指提交数据的时候提交到哪里 -->
        {% if error %}
            <!-- 当error 非空的时候显示这一行 -->
            <span style="color: red">{{error}}</span>
        {% endif %}
        <input type="text" name="username" value="{{username}}"/>
        <input type="password" name="password" />
        <input type="submit" value="登录">
    </form>
</body>
</html>