<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户列表</title>
</head>
<body>
    {% for msg in get_flashed_messages() %}
        {{ msg }}
    <!-- 增加消息闪现 -->
    {% endfor %}
    欢迎{{session.get('user', {}).get('username', '')}}<br/>
     <a href="/user/create/">添加用户</a>
     <a href="/logout/">退出登录</a>
    <table border="1px">
        <thead>
            <tr>
                <th>用户名</th>
                <th>年龄</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ user['username']}}</td>
                    <td>{{ user['age']}}</td>
                    <td>
                        <a href="/user/modify/?username={{user['username']}}">修改</a>
                        <a href="/user/delete/?username={{user['username']}}">删除</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>