{% extends "layout.html" %}

{% block title %}CMDB | 日志管理{% endblock %}
{% block link %}
<link href="/static/sfv/css/plugins/dataTables/dataTables.bootstrap.css" rel="stylesheet">
<link href="/static/sfv/css/plugins/dataTables/dataTables.responsive.css" rel="stylesheet">
<link href="/static/sfv/css/plugins/dataTables/dataTables.tableTools.min.css" rel="stylesheet">
{% endblock %}
{% block nav_monitor %}class="active"{% endblock %}
{% block nav_monitor_log %}class="active"{% endblock %}
{% block breadcrumb %}
<li>
    <a href="javascript:void(0)">监控</a>
</li>
<li class="active">
    <strong>日志管理</strong>
</li>
{% endblock %}
{% block content %}
<form action='/log/upload/' method="post" enctype="multipart/form-data">
    <input type="file" name="log"/>
    <input type="submit" value="上传"/>
</form>
<a href="/log/?topn=10">TOP 10</a>
<a href="/log/?topn=20">TOP 20</a>
<a href="/log/?topn=50">TOP 50</a>
<a href="/log/?topn=100">TOP 100</a>
<br/><br/>
<table class="logs table table-striped table-bordered table-hover">
    <thead>
        <tr>
            <th>IP</th>
            <th>URL</th>
            <th>状态码</th>
            <th>次数</th>
        </tr>
    </thead>
    <tbody>
        {% for log in logs %}
            <tr>
                <td>{{log[0][0]}}</td>
                <td>{{log[0][1]}}</td>
                <td>{{log[0][2]}}</td>
                <td>{{log[1]}}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
{% block script %}
<script src="/static/sfv/js/plugins/dataTables/jquery.dataTables.js"></script>
<script src="/static/sfv/js/plugins/dataTables/dataTables.bootstrap.js"></script>
<script src="/static/sfv/js/plugins/dataTables/dataTables.responsive.js"></script>
<script src="/static/sfv/js/plugins/dataTables/dataTables.tableTools.min.js"></script>
{% endblock %}

{% block js %}
jQuery(document).ready(function() {
    jQuery('.logs').dataTable({
                responsive: true,
                "dom": 'T<"clear">lfrtip',
                "tableTools": {
                    "sSwfPath": "/static/sfv/js/plugins/dataTables/swf/copy_csv_xls_pdf.swf"
                }
    });
});
{% endblock%}