{% extends "layout.html" %}

{% block title %}CMDB | 机房管理{% endblock %}
{% block nav_users %}class="active"{% endblock %}
{% block nav_users_list %}class="active"{% endblock %}
{% block breadcrumb %}
<li>
    <a href="javascript:void(0)">机房</a>
</li>
<li class="active">
    <strong>机房管理</strong>
</li>
{% endblock %}
{% block content %}

 <a href="/machine/create/" class="btn btn-primary" role="button">添加机房</a>
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary " data-toggle="modal" data-target="#machine_create">
 添加机房
</button>

<!-- Modal -->
<div class="modal fade" id="machine_create" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">机房信息</h4>
      </div>
      <div class="modal-body">
          <form method="post" class="form-horizontal create_form" role="form" action="/machine/save/" >


                                <!-- 机房名代码块 -->
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">机房名</label>
                                    <div class="col-sm-10">
                                        <input class="form-control" type="text"  placeholder="room_name" name="room_name" value="{{ room_name }}">
                                    </div>
                                </div>
                                <div class="hr-line-dashed"></div>

                                <!-- addr码块 -->
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">地址</label>
                                    <div class="col-sm-10">
                                        <input class="form-control" type="text" placeholder="addr" name="addr" value="{{ addr }}">
                                    </div>
                                </div>
                                <div class="hr-line-dashed"></div>

                                <!-- ip段代码块-->
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">ip段</label>
                                    <div class="col-sm-10">
                                        <input class="form-control" name="ip_ranges" type="text" placeholder="请输入ip段"  value="{{ ip_ranges }}"/>
                                    </div>
                                </div>
                                <div class="hr-line-dashed"></div>
                                <!-- ip段代码块-->

                                <!-- 错误信息回显 -->
                                {% if error %}
                                 <div class="form-group alert alert-danger" role="alert">
                                     {{error}}
                                 </div>
                                {% endif %}
                            </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        <button type="button" class="create_btn btn btn-primary">添加</button>
      </div>
    </div>
  </div>
</div>

        <table class="table table-striped table-bordered table-hover dataTables-example">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>机房名</th>
                    <th>地址</th>
                    <th>ip段</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                {% for machine in machines %}
                    <tr>
                        <td>{{ machine['id'] }}</td>
                        <td>{{ machine['room_name'] }}</td>
                        <td>{{ machine['addr'] }}</td>
                        <td>{{ machine['ip_ranges'] }}</td>
                        <td>
                            <a href="/machine/view/?id={{machine['id']}}">编辑</a>
                            <!--<a href="/user/delete/?id={{ ''}}">删除</a>-->
                            <a href="javascript:void(0);" data-id="{{machine['id']}}" class="btn_delete">删除</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>


{% endblock %}

{% block link %}

    <link href="/static/sfv/css/plugins/dataTables/dataTables.bootstrap.css" rel="stylesheet">
    <link href="/static/sfv/css/plugins/dataTables/dataTables.responsive.css" rel="stylesheet">
    <link href="/static/sfv/css/plugins/dataTables/dataTables.tableTools.min.css" rel="stylesheet">

    <link href="/static/sfv/css/animate.css" rel="stylesheet">
    <link href="/static/sfv/css/style.css" rel="stylesheet">
{% endblock %}
{% block style %} {% endblock%}

{% block script %}

    <!-- Data Tables -->
<script src="/static/sfv/js/plugins/dataTables/jquery.dataTables.js"></script>
<script src="/static/sfv/js/plugins/dataTables/dataTables.bootstrap.js"></script>
<script src="/static/sfv/js/plugins/dataTables/dataTables.responsive.js"></script>
<script src="/static/sfv/js/plugins/dataTables/dataTables.tableTools.min.js"></script>

{% endblock %}

{% block js %}
       $(document).ready(function() {
            $('.dataTables-example').dataTable({
                responsive: true,
                "dom": 'T<"clear">lfrtip',
                "tableTools": {
                    "sSwfPath": "/static/sfv/js/plugins/dataTables/swf/copy_csv_xls_pdf.swf"
                }
            });

            $(document).on('click','.create_btn',function(){
            jQuery.post('/machine/save/json/',
                jQuery('.create_form').serializeArray(),
            function (data) {
               if(data['code'] === 200 ){
                    window.location.reload();
                } else if (data['code'] === 400){
                    alert(data['error']);
                    }
                },'json');
            });

        jQuery(document).on('click','.btn_delete', function() {
            //发起请求
        var url = '/machine/delete/?id=' + jQuery(this).data('id');
        if(confirm('确定删除吗?')) {
            window.location.replace(url);
        }
    });


});




{% endblock %}
